body {
    background-color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
    
}

#page {
    border: 2px solid red;
    border-radius: 20px;
    width: 50%;
    background-color: grey;
}

img {
    border-radius: 150px;
    margin-bottom: 5px;
    width:150px;
}

.coloured-text {
    font-family: "Bungee Spice", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 5px;
  }
  
  .text {
    font-size: 20px;
    font-family: "Stylish", serif;
    font-weight:bolder;
    line-height: 40px;
    font-style: normal;
    padding: 20px;
    margin-top: 1px;
    color: greenyellow;
  }