body {
    background-color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

#page {
    border: 2px solid red;
    border-radius: 20px;
    width: 50%;
    background-color: grey;
}

img {
    border-radius: 150px;
    width:8em;
}

.imported-format{
    font-family: "Bungee Spice", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 100%;
    margin: 5px;
  }
  
  .text {
    font-size: 100%;
    font-family: "Stylish", serif;
    font-weight:bolder;
    font-style: normal;
    color: greenyellow;
  }